.sms-modal {
  position: fixed; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(59,66,75,0.9)
}

.sms-modal-content {
  position: relative;
  background-color: #17202A;
  margin: 5% auto 15% auto;
  padding: 0;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.sms-modal-header {
  padding: 2px 16px;
  margin: 25px;
  /* background-color: #5cb85c; */
  color: white;
  text-align: center;
}

.sms-modal-body {
  padding: 2px 16px;
  margin: 15px;
}

#sms-exit {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 25px;
  font-weight: bold;
  transition: ease-in-out 0.1s;
}

#sms-exit:hover {
  cursor: pointer;
  color: #EC407A;
}

textarea[name=sms] {
  border-bottom: #757575 1px solid;
  color: #FFFFFF;
  background-color: #1C2733;
  width: 100%;
  height: 20vh;
  padding: 20px 20px;
  margin: 12px 0;
  display: inline-block;
  border: none;
  border-bottom: #757575 solid 1px;
  box-sizing: border-box;
  font-size: 18px;
}

textarea[name=sms]:focus {
  border-bottom: #1DA1F2 1px solid;
}

#sms-submit {
  background-color: rgb(29, 161, 242);
  border-radius: 50px;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  transition: ease-in-out 0.1s;
}

#sms-submit:hover {
  background-color: rgb(26, 145, 218);
}
