.ticket-wrapper {
  border-bottom: #283340 solid 0.2em;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 100%;
}

.ticket-wrapper:first-child {
  border-top: none;
}

.ticket-wrapper:last-child {
  border-bottom: #283340 solid 0.2em;
}

.avatar-wrapper {
  display: flex;
  padding: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  font-size: 17px;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.icon-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.individual-icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper > *:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

i {
  margin-right: 3px;
}

.favorite-icon:hover {
  color: #E91E63;
}

.chat-icon:hover {
  color: #26A69A;
}

.phone-icon:hover {
  color: #AB47BC;
}

.ticket-stats {
  width: 5px;
  font-size: 15px;
}