.top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.empty-header-space {
  width: 14vw;
}

.logo-search {
  display: flex;
  align-items: center;
}

.search-wrapper {
  background-color: #283340;
  width: 30vw;
  padding: 0 15px 0 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #283340;
}

#search-icon {
  margin: 8px;
  color: #8B99A5;
  font-size: 30px;
}
 
input#search {
  color: #FFFFFF;
  box-sizing: border-box;
  border: none;
  background-color: #283340;
  font-size: 14px;
  width: 100%;
  padding: 12px 0 12px 0;
}

input:focus {
  outline: none;
}

.profile-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 13vw;
  margin-right: 25px;
}

.button-wrapper {
  width: 15vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#login-btn {
  margin-left: 10px;
  background-color: #283340;
  width: 70px;
  padding: 7px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 800;
  color: rgb(29, 161, 242);
  border: 1px solid rgb(29, 161, 242);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#login-btn:hover {
  background-color: rgb(29, 161, 242, 0.1);
}

#signup-btn {
  margin-left: 10px;
  background-color: rgb(29, 161, 242);
  width: 70px;
  padding: 7px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 800;
  color: white;
  border: 1px solid rgb(29, 161, 242);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#signup-btn:hover {
  background-color: rgb(26, 145, 218);
}

#header-logo {
  color: #FFFFFF;
  font-size: 30px;
  margin-right: 10px;
}

#profile-logo {
  color: #FFFFFF;
  font-size: 30px;
}

#profile-logo:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #263238;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -65px;
}

.dropdown-content p {
  margin: 0;
  color: #FFFFFF;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  cursor: pointer;
  background-color: #37474F;
}

.profile-icon-wrapper:hover .dropdown-content {
  display: block;
}